{% extends "layout.html" %}

{% block body %}

  <div class="container">
    <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><h5>About</h5></div>
  </div>

  <div> 
    <div class="container"> 
      <div class="progress-bar bg-info" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"><h5>About</h5></div> 
    </div> 
  </div> 
   <div class = "container"> 
    <div class="card"> 
      <div class="card-header"> 
       <!-- <h3 align="center"> About </h3>  --> 
      </div> 
      <div class="card-body"> 
        <h5 class="card-title" style ="color: rgb(8, 106, 193)">workplace</h5> 
        <li> 
          <ol>GCPC-<b>Girls Computer Programming Club</b></ol> 
          <ol>August 2021 - present</ol> 
        </li> 
        <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> --> 
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> --> 
      </div> 
      <div class ="row"> 
          <h5 class="card-title" align="center" style ="color: rgb(8, 106, 193);">Educational Qualification</h5> 
          <div class ="col"> 
              <div class="card-body"> 
                  <h5 class="card-title"style ="color: rgb(8, 106, 193)">SSC</h5> 
                  <li> 
                    <ol>School Name -<b>KRSGHS</b> </ol> 
                    <ol>Passing Year - <b>2017</b></ol> 
                  </li> 
              </div> 
          </div> 
          <div class ="col"> 
              <div class="card-body"> 
                  <h5 class="card-title"style ="color: rgb(8, 106, 193)">HSC</h5> 
                  <li> 
                    <ol>College Name - <b>Uttara Model College</b></ol> 
                    <ol>Passing Year - <b>2019</b></ol> 
                  </li> 
              </div> 
          </div> 
      </div> 
      <div class="card-body"> 
          <h5 class="card-title"style ="color: rgb(8, 106, 193)">Places Lived</h5> 
          <li> 
            <ol>Present Address -<b>Dhaka</b> </ol> 
            <ol>Permanent Address -<b> Rajbari</b></ol> 
          </li> 
      </div> 
      <div class="card-body"> 
          <h5 class="card-title"style ="color: rgb(8, 106, 193)">Family and Relationship</h5> 
          <li> 
            <ul>Mother </ul> 
            <ul>Sister </ul> 
             
          </li> 
      </div> 
    </div> 
   </div>

  <!--
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h5 align="center">Featured</h5>
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
         <a href="#" class="btn btn-primary">Go somewhere</a> 
      </div>
    </div>
  </div>
      -->
{% endblock %}