{% extends "layout.html" %}
{% load static %}
{% block body %}

  <!-- <div class="container"> -->
    <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><h5>About</h5></div>
  <!-- </div> -->

  <body id="bg" style="background-image: url('{% static 'img/b.jpg' %}');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 1400px 810px;
    background-attachment: fixed;">
    
  </body>

{% endblock %}